<div>
  <div>
    <h2>Coordinate:</h2>
  </div>
  <div>
    <%= render "coordinates/list" %>
  </div>
  <div>
    <%= render "coordinates/form" %>
  </div>
</div>
<!-- tMap띄우고 여기서 좌표찾자, 주소를 검색할수도 있그로 -->

