<% coordinate = @shelter.coordinates.new %>
<div id="coordinates_form_<%=@shelter.id%>">
<%= form_for([@shelter, coordinate], remote: true ) do | f | %>
  <div class='form-group'>
  	<!-- tMap띄우고 여기서 좌표찾자, 주소를 검색할수도 있그로 -->
  	<div id="map_div"></div>
    <!-- <#%= f.input :body, label: false, placeholder: 'Add a coordinate.',  input_html: { class: 'form-control', rows: 5 } %> -->
  </div>
  <%= f.button :submit, class: 'btn btn-default' %>
<% end %>
</div>